//全局变量
//全局主题颜色
$base-color:red;

$slider-left-width:256px;
$slider-left-color:#001529;
$slider-left-min-width:60px;
$slider-bar-height:60px;

//左侧菜单logo高度设置
$base-menu-logo-height:60px;

//左侧菜单logo右侧文字大小
$base-logo-title-fontSize:20px;
